---
interface Props {
    itemList: {
        itemText?: string;
        itemHref?: string;
        bgImgUrl?: string;
    }[];
}

const {itemList=[]}: Props = Astro.props
---

<div class=" flex flex-col my-6 md:flex-row md:align-center">

    {itemList.length > 0 && (
        itemList.map((item) => (
        
        <div class={`card bg-[url(${ item.bgImgUrl })] flex-1 mx-auto text-[white] no-underline border border-solid border-gray-500 group h-full`}>
            <a href={ item.itemHref } >
                <div class=" h-full w-full bg-[var(--accent-3)] text-center text-[white] group-hover:bg-[var(--accent-3-hover)]">
                    <div class=" font-poppins text-lg md:text-3xl font-bold p-12 md:px-24 md:py-24">{item.itemText}</div>
                </div>
            </a>
        </div>
        ))
    )}

</div>


<style>

</style>
