.publications {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  height: 1040px; /* Adjusted height to ensure it fits better within the layout */
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 1rem; /*Reduced padding to minimize overall table height
  overflow: hidden; /* Prevents overflow of the table container */
}

/* .ag-row.ag-row-first {
  background-color: #2244CC44;
}

.ag-row.ag-row-last {
  background-color: #CC333344;
} */

/* .ag-row-hover{
  color: #E7F1FD;
} */


.publication-button {
  background-color: var(--accent);
  margin: 1.2rem auto;
  height: 2.8rem;
  width: 15rem;
  font-size: 1.1rem;
  font-weight: 480;
  color: white;
  border-radius: 10px;
  border: none; /* Use 'none' for border for consistency */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.publication-button:hover {
  background-color: var(--accent-hover);
}

.ag-theme-quartz {
  --ag-wrapper-border-radius: 0px;
  --ag-header-height: 50px;
  --ag-header-foreground-color: white;
  --ag-header-background-color: var(--accent);
  --ag-header-cell-hover-background-color: rgba(135, 207, 235, 0.849);
}

.ag-theme-quartz .ag-header-group-cell {
  font-weight: 900;
  font-size: 1.2rem; /* Adjusted font size for better readability */
}

.ag-row-odd {
  background-color: rgb(245, 245, 245);
}

.ag-theme-quartz .ag-header {
  font-size: 1.2rem; /* Adjusted font size for better readability */
}

.ag-input-field-input {
  color: black !important;
  font-size: 12px !important;
}

.publication-cell {
  font-size: 1rem; /* Use rem for better scalability */
  font-weight: 640; /* Adjusted font weight for consistency */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.publication-cell:hover {
  color: var(--accent);
  transition: color 0.3s ease-in; /* Transition for hover color change */
}

.keywords-cell,
.authors-cell,
.publisher-cell {
  color: grey;
  font-weight: 320;
  font-size: 1rem; /* Use rem for better scalability */
}
