---
const { Text, Case, ColorHex, LineColorHex} = Astro.props
---

<div class=`flex justify-start mx-auto relative gap-11 w-[70%]`>
    <!-- <div class=`flex-grow-0 flex-shrink-0 md:w-[506px] xs:w-0 h-7 relative overflow-hidden border-t-0 border-r-0 border-b-[4px] border-l-0 border-[${ LineColorHex }]`></div> -->
    <p class=`flex-grow-0 flex-shrink-0 text-4xl font-bold text-center ${ Case } text-[${ ColorHex }]`>
        { Text }
    </p>
    <div class=`flex-grow-0 flex-shrink-0 w-0 md:w-[75%] xs:w-0 h-7 relative overflow-hidden border-t-0 border-r-0 border-b-[4px] border-l-0 border-[${ LineColorHex }]`></div>
</div>

<style>

</style>

