---
import ContactUs from "../components/Contact/ContactUs.astro";
import Layout from "../layouts/BlogPost.astro";


---

<Layout
	title="Contact Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">

<div class="scale-75">
	<ContactUs />
</div>

</Layout>
