---
import { Image } from "astro:assets";

import CPSLogoWhite from "../assets/lab-Identity/logo_cypsi_white.png";
import { SITE_TITLE } from "../consts";
import FooterColumns from "./Footer/FooterColumns.astro";
import FooterCopyright from "./Footer/FooterCopyright.astro";
const today = new Date().getFullYear();

const urlList1 = [
  { text: 'University of Delhi', href: 'https://www.du.ac.in/' },
  { text: 'Ministry of Education', href: 'https://www.education.gov.in/' },  // Font Awesome icon
  { text: 'Project Samarth', href: 'https://samarth.edu.in/' },  // Font Awesome icon
  { text: 'National Portal of India', href: 'https://www.india.gov.in/'},  // Image icon
  { text: 'Internship @ IIC', href: 'https://cps.iic.ac.in/'},  // Image icon
];


const urlList2 = [ 
  { text: 'CPS Framework – Volume 1', href: 'https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.1500-201.pdf' },
  { text: 'CPS Framework – Volume 2', href: 'https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.1500-202.pdf' },  // Font Awesome icon
  { text: 'Resources for AI', href: 'https://storage.googleapis.com/deepmind-media/research/New_AtHomeWithAI%20resources.pdf' },  // Image icon
];


const urlSocials= [
	{ text: 'LinkedIn', href: 'https://www.linkedin.com/company/cypsilab/', faIcon: 'fa-brands fa-linkedin' },
	{ text: 'YouTube', href: 'https://www.youtube.com/@cypsilab', faIcon: 'fa-brands fa-youtube' },
  	{ text: 'GitHub', href: 'https://www.github.com', faIcon: 'fa-brands fa-github' },  // Font Awesome icon
];

const urlSocials2= [
  { text: 'YouTube', href: 'https://www.google.com', svgIcon: 'https://example.com/google-icon.svg', iconAltText: 'Google Icon' },
  { text: 'LinkedIn ', href: 'https://astro.build', imgIcon: 'https://example.com/astro-icon.png', iconAltText: 'Astro Icon' },  // Image icon
  { text: 'GitHub', href: 'https://www.github.com', faIcon: 'fa-brands fa-github' },  // Font Awesome icon
];

---


<footer class="w-full bg-[#181818] flex items-stretch flex-col justify-center ">

		<div class="flex flex-col md:flex-row justify-center 
		items-stretch md:px-[8%] ">

		<FooterColumns 
			image = { CPSLogoWhite.src }
			imageAltText = "CyPSi - Logo - white"
			description = `<div class="text-sm">Institute of Informatics &amp; Communication<br>
							University of Delhi
							South Campus<br>
							Delhi – 110021<br><br>
							<a class="text-sm my-4 text-[#ffffff]" href="mailto:cps@south.du.ac.in">cps@south.du.ac.in</a> </div>`, 
		/>

		<FooterColumns 
			title="Useful Links"
			urlList={urlList1}
			

		/>


		<FooterColumns 
			title="External Resources"
			urlList={urlList2}
			

		/>

		<FooterColumns 
		title="Socials"
		urlList={urlSocials}
		

	/>

	
	</div>
		<FooterCopyright sitetitle={ SITE_TITLE } year = { today } />

</footer>

