---
interface Props {
	href: string;
	isActive?: boolean;
}

const { href, isActive = false } = Astro.props;
---

<li class="flex flex-col justify-center">
	<a
		href={href}
		class:list={[
			"pb-1",
			"transition-colors duration-200 font-poppins font-semibold text-[var(--accent-dark)] text-base leading-7 hover:scale-105 ",
			isActive ?
				"scale-105 sm:text-[var(--accent)] sm:border-b-2 sm:border-[var(--accent)]"
			:	"text-gray-600 sm:text-gray-800 sm:hover:text-[var(--accent)] hover:text-[var(--accent-2)] hover:sm:border-b-2 border-[var(--accent)] text-opacity-65",
		]}>
		<slot />
	</a>
	<hr class:list={["pt-2 pb-0 block sm:hidden w-full"]} />
</li>







