---
const {sitetitle, year} = Astro.props

---
<div class="w-full bg-[#202020] flex items-center">
    <div class=" bg-[#202020] pb-0 pt-6 px-4 font-poppins font-normal mx-auto text-[#838383] text-[15px] leading-[26px] container flex justify-between items-left w-full  min-w-0 ">
        <p>&copy; { year } { sitetitle } - All Rights Reserved.</p>
    </div>
</div>
