---
const {LinkedIn, GoogleScholar, Scopus, OrcID, ResearchGate, Medium} = Astro.props
---




<div class='socials flex gap-2 flex-wrap mt-1'>

    { 
     LinkedIn &&    
       
    <a href={ LinkedIn } target="_blank">
      <button class="social-button">
        <svg width="24" height="24" viewBox="0 0 24 24" clip-path="inset(0% round 15px)" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.3333 0C22.0406 0 22.7189 0.280951 23.219 0.781048C23.719 1.28115 24 1.95942 24 2.66667V21.3333C24 22.0406 23.719 22.7189 23.219 23.219C22.7189 23.719 22.0406 24 21.3333 24H2.66667C1.95942 24 1.28115 23.719 0.781048 23.0219C0.280951 22.7189 0 22.0406 0 21.3333V2.66667C0 1.95942 0.280951 1.28115 0.781048 0.781048C1.28115 0.280951 1.95942 0 2.66667 0H21.3333ZM20.6667 20.6667V13.6C20.6667 12.4472 20.2087 11.3416 19.3936 10.5264C18.5784 9.71128 17.4728 9.25333 16.32 9.25333C15.1867 9.25333 13.8667 9.94667 13.2267 10.9867V9.50667H9.50667V20.6667H13.2267V14.0933C13.2267 13.0667 14.0533 12.2267 15.08 12.2267C15.5751 12.2267 16.0499 12.4233 16.3999 12.7734C16.75 13.1235 16.9467 13.5983 16.9467 14.0933V20.6667H20.6667ZM5.17333 7.41333C5.76742 7.41333 6.33717 7.17733 6.75725 6.75725C7.17733 6.33717 7.41333 5.76742 7.41333 5.17333C7.41333 3.93333 6.41333 2.92 5.17333 2.92C4.57571 2.92 4.00257 3.1574 3.57999 3.57999C3.1574 4.00257 2.92 4.57571 2.92 5.17333C2.92 6.41333 3.93333 7.41333 5.17333 7.41333ZM7.02667 20.6667V9.50667H3.33333V20.6667H7.02667Z" fill="#0A66C2"/>
        </svg>


        

      </button>
    </a>
  
    }

    { 
     GoogleScholar &&    
       
    <a href={ GoogleScholar } target="_blank">
      <button class="social-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" clip-path="inset(0% round 15px)" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.57143 0C1.15179 0 0 1.15179 0 2.57143V21.4286C0 22.8482 1.15179 24 2.57143 24H21.4286C22.8482 24 24 22.8482 24 21.4286V2.57143C24 1.15179 22.8482 0 21.4286 0H2.57143ZM10.1087 3.42857H19.6572L18.7749 4.1175V5.3332C19.1026 5.37525 19.0679 5.57213 19.0679 5.80768V11.5518C19.0679 11.8177 18.8503 12.0355 18.5843 12.0355H18.4062C18.1401 12.0355 17.9224 11.8177 17.9224 11.5518V5.80768C17.9224 5.57154 17.8881 5.3745 18.2183 5.33298V4.56873L15.6777 6.65229C15.707 6.70671 15.7349 6.74159 15.7614 6.78729C15.9846 7.18248 16.0983 7.67379 16.0983 8.27443C16.0983 8.73471 16.0216 9.14839 15.866 9.51354C15.7112 9.87873 15.5228 10.177 15.3031 10.4068C15.0834 10.6374 14.863 10.848 14.6426 11.0377C14.4222 11.2278 14.2339 11.4259 14.0796 11.6317C13.9242 11.8368 13.8468 12.0489 13.8468 12.2686C13.8468 12.4887 13.9473 12.7122 14.1475 12.9375C14.347 13.1635 14.5924 13.3825 14.8826 13.5988C15.1735 13.8136 15.4637 14.0522 15.7539 14.3116C16.0447 14.5707 16.2889 14.9042 16.4884 15.3092C16.6893 15.7156 16.7897 16.163 16.7897 16.6548C16.7897 17.3035 16.6243 17.8894 16.2944 18.4108C15.9637 18.9301 15.5327 19.3445 15.0033 19.6483C14.4724 19.9541 13.9046 20.1843 13.2992 20.3399C12.6924 20.494 12.0904 20.5714 11.489 20.5714C11.1048 20.5713 10.7211 20.5415 10.3415 20.4822C9.95513 20.4222 9.56802 20.3162 9.17807 20.1669C8.78748 20.0166 8.44146 19.8321 8.14146 19.6103C7.84088 19.3909 7.59879 19.1077 7.41327 18.7628C7.2277 18.4178 7.13555 18.0299 7.13555 17.5992C7.13555 17.0883 7.27789 16.6143 7.56321 16.1724C7.84848 15.7337 8.22654 15.3674 8.69668 15.0773C9.51702 14.567 10.804 14.2518 12.5555 14.1325C12.1551 13.632 11.9542 13.1607 11.9542 12.7198C11.9542 12.469 12.0197 12.2002 12.1495 11.91C11.936 11.9401 11.7206 11.9554 11.505 11.9557C10.5641 11.9557 9.7695 11.6499 9.12429 11.0339C8.47907 10.419 8.15689 9.64934 8.15689 8.71875C8.15689 8.62146 8.15968 8.53559 8.16659 8.44071H4.34271L10.1087 3.42857ZM11.7897 5.48218C11.1897 5.48218 10.7294 5.69802 10.4086 6.12879C10.0877 6.55843 9.9273 7.07891 9.92727 7.69023C9.92727 8.21095 10.0151 8.74109 10.1909 9.28168C10.366 9.82195 10.6528 10.3044 11.0546 10.7294C11.4549 11.1557 11.9209 11.3683 12.4503 11.3683C13.0405 11.3683 13.5016 11.1707 13.8322 10.7752C14.1614 10.3804 14.3267 9.88195 14.3267 9.28163C14.3267 8.77034 14.2396 8.23505 14.0645 7.67523C13.8901 7.11477 13.5992 6.60905 13.1932 6.15884C12.7886 5.70712 12.3199 5.48218 11.7897 5.48218ZM12.7817 14.7008C12.3512 14.7008 11.9277 14.7389 11.512 14.8149C11.0963 14.8888 10.6862 15.0136 10.2816 15.1898C9.87557 15.365 9.54777 15.6224 9.29802 15.9628C9.04693 16.3028 8.92195 16.7032 8.92195 17.164C8.92195 17.603 9.0323 17.9947 9.25275 18.3358C9.4725 18.6747 9.76264 18.9403 10.1233 19.1304C10.4839 19.3208 10.862 19.4644 11.2568 19.5589C11.6523 19.6527 12.0548 19.7016 12.4649 19.7016C13.2761 19.7016 13.9743 19.5189 14.5603 19.1537C15.1447 18.7885 15.4378 18.2246 15.4378 17.4635C15.4378 17.3035 15.4155 17.1457 15.3715 16.992C15.3255 16.8364 15.2802 16.7033 15.2356 16.5927C15.1909 16.4842 15.1059 16.3534 14.9803 16.2027C14.8866 16.0894 14.7917 15.9771 14.6956 15.8658C14.63 15.7891 14.5074 15.6796 14.3267 15.5347C14.1475 15.3894 14.0331 15.2988 13.9821 15.2653H13.982C13.9317 15.23 13.8013 15.1348 13.5914 14.9802C13.3815 14.8243 13.2664 14.7415 13.2461 14.7318C13.1359 14.712 12.9812 14.7008 12.7817 14.7008Z" fill="#4285F4"/>
        </svg>

      </button>
    </a>
  
    }

    { 
    Scopus &&    
       
    <a href={ Scopus } target="_blank">
      <button class="social-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" clip-path="inset(0% round 15px)" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.999" d="M2 -0.375C0.89543 -0.375 0 0.520431 0 1.625V21.625C0 22.7296 0.895431 23.625 2 23.625H22C23.1046 23.625 24 22.7296 24 21.625V1.625C24 0.52043 23.1046 -0.375 22 -0.375H2ZM7.30094 5.87037C8.48791 5.87037 9.10865 5.98842 9.79837 6.2445C10.0161 6.32532 10.1496 6.54292 10.1349 6.77466V6.77466C10.1092 7.18039 9.66155 7.41446 9.28337 7.26529C8.68968 7.03111 8.11437 6.9525 7.38169 6.9525C6.1705 6.9525 5.55669 7.87294 5.55669 8.71269C5.55669 9.84319 6.63875 10.2631 7.65619 10.8768C8.96431 11.652 10.3209 12.3464 10.3209 13.8807C10.3209 15.8994 8.59281 16.9167 6.94556 16.9167C5.95128 16.9167 5.18679 16.7904 4.46795 16.5183C4.22938 16.428 4.09738 16.1779 4.1357 15.9257V15.9257C4.19713 15.5214 4.64997 15.3136 5.02651 15.4731C5.57427 15.7052 6.14073 15.8187 6.88113 15.8187C7.97925 15.8187 8.89969 15.0757 8.89969 14.0422C8.89969 12.9763 7.86625 12.5724 6.88113 11.9749C5.55681 11.1674 4.10338 10.4568 4.10338 8.80956C4.10338 7.16231 5.31456 5.87037 7.30094 5.87037ZM17.4075 5.87037C18.8253 5.87037 19.5599 6.01688 20.3111 6.33098C20.5194 6.41806 20.6417 6.633 20.6237 6.85805V6.85805C20.5922 7.25089 20.1633 7.48258 19.7937 7.34586C19.0431 7.0682 18.2291 6.9525 17.246 6.9525C15.1465 6.9525 13.3539 8.61581 13.3539 11.3128C13.3539 13.8644 15.1789 15.7862 17.4721 15.7862C18.2492 15.7862 19.0263 15.6712 19.7772 15.3952C20.1552 15.2563 20.5923 15.4951 20.624 15.8967V15.8967C20.6419 16.1228 20.5218 16.3399 20.3112 16.4242C19.4996 16.749 18.5156 16.8845 17.3592 16.8845C14.7267 16.8845 11.9006 14.9464 11.9006 11.4097C11.9006 8.30894 14.2744 5.87031 17.4074 5.87031" fill="#FF6C00"/>
        </svg>

      </button>
    </a>
  
    }

    { 
    OrcID &&    
       
    <a href={ OrcID } target="_blank">
      <button class="social-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" clip-path="inset(0% round 15px)" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.57143 0C1.15179 0 0 1.15179 0 2.57143V21.4286C0 22.8482 1.15179 24 2.57143 24H21.4286C22.8482 24 24 22.8482 24 21.4286V2.57143C24 1.15179 22.8482 0 21.4286 0H2.57143ZM12 3.42857C16.7343 3.42857 20.5714 7.26642 20.5714 12C20.5714 16.7336 16.7343 20.5714 12 20.5714C7.26572 20.5714 3.42857 16.7336 3.42857 12C3.42857 7.26642 7.26572 3.42857 12 3.42857ZM8.64572 6.54932C8.25999 6.54932 7.9472 6.86283 7.9472 7.24711C7.9472 7.63425 8.26072 7.94573 8.64572 7.94573C9.03214 7.94573 9.34421 7.63496 9.34497 7.24711C9.34497 6.86211 9.03214 6.54932 8.64572 6.54932ZM8.13857 8.68715V15.7851H9.15423V8.68715H8.13857ZM10.7386 8.68715V15.7743H12.9836C13.6143 15.7743 14.0408 15.7572 14.2651 15.7222C14.4886 15.6857 14.7336 15.615 15.0015 15.5107C15.4593 15.3378 15.8608 15.0835 16.2058 14.7435C16.5451 14.415 16.8057 14.0336 16.9885 13.6H16.9886C17.1708 13.1672 17.2636 12.7128 17.2629 12.2371C17.2629 11.5742 17.0964 10.9608 16.7643 10.3986C16.4322 9.83719 15.9857 9.41002 15.4235 9.12075C14.8607 8.83075 14.0979 8.68715 13.1315 8.68715H10.7386ZM11.7564 9.59138H13.025C13.5135 9.59138 13.8665 9.6093 14.0865 9.64715C14.3072 9.68357 14.54 9.76077 14.7864 9.87577V9.87566C15.0307 9.99138 15.2492 10.1393 15.4392 10.3178C15.9542 10.7993 16.2114 11.4214 16.2114 12.1835C16.2114 12.9592 15.9607 13.6007 15.46 14.1093C15.3035 14.2657 15.1315 14.3965 14.9436 14.5029C14.7558 14.61 14.5214 14.6972 14.24 14.7665C13.9585 14.8357 13.5643 14.8707 13.0572 14.8707H11.7564V9.59138Z" fill="#A6CE39"/>
        </svg>

      </button>
    </a>
  
    }


    { 
     ResearchGate &&    
       
    <a href={ ResearchGate } target="_blank">
      <button class="social-button">
        <svg width="24" height="24" viewBox="0 0 24 24" clip-path="inset(0% round 15px)" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.57143 0C1.15179 0 0 1.15179 0 2.57143V21.4286C0 22.8482 1.15179 24 2.57143 24H21.4286C22.8482 24 24 22.8482 24 21.4286V2.57143C24 1.15179 22.8482 0 21.4286 0H2.57143ZM17.4215 3.42857C17.7229 3.42857 17.9964 3.46345 18.2389 3.53464C18.4787 3.60525 18.6937 3.70259 18.8834 3.8272C19.0704 3.95052 19.2322 4.09575 19.3657 4.26016C19.5 4.4213 19.6122 4.59964 19.6993 4.79046C19.7329 4.85073 19.7234 4.89868 19.6699 4.93221L18.9252 5.23838C18.8622 5.27202 18.8178 5.25488 18.7827 5.18839C18.6156 4.87875 18.4731 4.67534 18.2389 4.52743C18.0018 4.38011 17.7826 4.3102 17.4215 4.3102C17.029 4.3102 16.8536 4.38825 16.6077 4.56434C16.3638 4.737 16.185 4.95412 16.0795 5.28493C16.0583 5.34461 16.0391 5.41864 16.0165 5.50564C15.998 5.59404 15.9829 5.70225 15.9734 5.82895C15.9638 5.9557 15.9548 6.11261 15.9466 6.29759C15.9411 6.48257 15.9385 6.7072 15.9385 6.96755C15.9385 7.2292 15.9411 7.45388 15.9466 7.6388C15.9548 7.82309 15.9638 7.98005 15.9734 8.10675C15.9829 8.23484 15.998 8.34246 16.0165 8.43155C16.0391 8.51716 16.0583 8.59104 16.0795 8.65136C16.185 8.98082 16.3357 9.16104 16.5576 9.30563C16.7769 9.45225 17.029 9.55779 17.4215 9.55779C17.7702 9.55779 18.0895 9.45841 18.2977 9.30696C18.5039 9.15562 18.6752 8.95559 18.7519 8.68221C18.7855 8.56714 18.8286 8.42389 18.8581 8.24855C18.8848 8.07316 18.8849 7.88759 18.8849 7.63141C18.8849 7.59096 18.8622 7.57034 18.8245 7.57034H17.6318C17.5647 7.57034 17.5318 7.5375 17.5318 7.47038V6.78675C17.5318 6.71888 17.5647 6.68598 17.6318 6.68598H19.8206C19.8891 6.68598 19.9213 6.71887 19.9213 6.7867V7.371C19.9213 7.68064 19.9213 7.96779 19.8891 8.23355C19.8583 8.49937 19.8166 8.72946 19.7638 8.89725C19.5966 9.42279 19.3315 9.79688 18.9252 10.0756C18.5176 10.3565 17.9922 10.5078 17.4215 10.5078C16.8351 10.5078 16.3412 10.373 15.9385 10.1051C15.535 9.83384 15.2464 9.4357 15.0704 8.90341C15.0367 8.80128 15.0101 8.69692 14.991 8.59109C14.9704 8.48357 14.9519 8.35816 14.9354 8.21357C14.9183 8.0677 14.9074 7.89648 14.9006 7.69441C14.8937 7.49373 14.891 7.24843 14.891 6.96755C14.891 6.68523 14.8938 6.44352 14.9006 6.24214C14.9074 6.04002 14.9183 5.86661 14.9354 5.72207C14.9518 5.57823 14.9704 5.45223 14.991 5.34471C15.0108 5.2365 15.0369 5.13364 15.0705 5.03298C15.2465 4.5007 15.535 4.10062 15.9385 3.83202C16.3412 3.56346 16.8351 3.42857 17.4215 3.42857ZM9.29604 7.59713C11.6301 7.59713 13.4105 8.66095 13.4105 10.9532C13.4105 12.5082 12.1828 14.0647 10.5251 14.4524C11.5286 16.2336 12.735 17.8093 13.6365 18.7903C14.1668 19.3637 14.9033 19.8761 15.6396 19.8761V20.4071C15.4151 20.5105 15.0471 20.5714 14.6997 20.5714C13.5126 20.5714 12.572 20.1014 11.9569 19.3637C11.2827 18.5868 10.0955 16.9077 8.84727 14.6778C8.19102 14.6778 7.76148 14.6778 7.27029 14.6367V18.0538C7.27029 19.3232 7.55807 19.5897 8.11018 19.6699L9.1748 19.8151V20.407C8.66304 20.3872 7.47584 20.3467 6.55516 20.3467C5.59259 20.3467 4.63071 20.3872 4.07855 20.4071V19.815L4.8555 19.6698C5.38982 19.5685 5.694 19.3232 5.694 18.0537V9.99139C5.694 8.72132 5.38982 8.47741 4.8555 8.37461L4.07861 8.23211V7.63821C4.58893 7.65804 5.4083 7.65804 6.22838 7.65804C7.12709 7.65804 8.08966 7.59713 9.29604 7.59713ZM8.92816 8.51775C8.3753 8.51775 7.7423 8.51775 7.27029 8.55889V13.6934C7.7423 13.7379 8.04788 13.7564 8.74393 13.7564C10.5662 13.7564 11.6705 12.672 11.6705 11.0553C11.6705 9.41941 10.6483 8.51775 8.92816 8.51775Z" fill="#00CCBB"/>
        </svg>

      </button>
    </a>
  
    }



    { 
     Medium &&    
       
    <a href={ Medium } target="_blank">
      <button class="social-button">
        <svg width="24" height="24" viewBox="0 0 24 24" clip-path="inset(0% round 15px)" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_215_235)">
          <path d="M24 24H0V0H24V24ZM15.014 8.994V16.32C15.014 16.518 15.014 16.554 14.887 16.682L13.585 17.946V18.216H19.905V17.946L18.648 16.712C18.5934 16.67 18.5513 16.6139 18.5261 16.5498C18.5009 16.4857 18.4936 16.4159 18.505 16.348V16.35V7.28C18.4944 7.21268 18.502 7.14375 18.5272 7.08041C18.5523 7.01707 18.5941 6.96167 18.648 6.92L18.649 6.919L19.935 5.685V5.415H15.479L12.303 13.339L8.694 5.415H4.019V5.686L5.521 7.499C5.59412 7.5652 5.65067 7.64765 5.68611 7.73971C5.72154 7.83177 5.73486 7.93086 5.725 8.029V8.026V15.152C5.74635 15.2788 5.73756 15.4089 5.69934 15.5317C5.66113 15.6546 5.59455 15.7667 5.505 15.859L3.815 17.913V18.183H8.615V17.913L6.924 15.859C6.83335 15.766 6.76522 15.6535 6.72483 15.5301C6.68444 15.4066 6.67287 15.2756 6.691 15.147V15.151V8.991L10.906 18.186H11.396L15.014 8.994Z" fill="#00AB6C"/>
          </g>
          <defs>
          <clipPath id="clip0_215_235">
          <rect width="24" height="24" rx="2" fill="white"/>
          </clipPath>
          </defs>
          </svg>

      </button>
    </a>
  
    }
  </div>


  <style>

.social-button  {
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  width: 24px; /* Button width */
  height: 24px; /* Button height */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex; /* Center the SVG inside */
  align-items: center; /* Center SVG vertically */
  justify-content: center; /* Center SVG horizontally */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  /* border-radius: 50%; */
}

/* .social-button < svg {
border-radius: 100%;
} */


.social-button svg {
  fill:  var(--gray-light) !important;/*  Icon color */
  width: 100%; /* Make SVG scale to the button's width */
  height: 100%; /* Make SVG scale to the button's height */
  opacity: 0.6;
}

 .social-button:hover svg{
  fill: var(--accent);
  opacity: 1; /* svg color on hover */
} 

  
    </style>